.chat
  - if flash[:errors].present?
    .flash-error
      - flash[:errors].each do |msg|
        %p.error= msg
  - if flash[:success].present?
    .flash-success
      %p.success= flash[:success]
  .sidemenu
    .user
      .user__name= current_user.name
      .user__edit
        =link_to new_group_path do
          =fa_icon "edit"
        -# 暫定的に設定ボタンをログアウトボタンにしている
        =link_to edit_user_path(current_user) do
          =fa_icon "cog"
    %ul.groups
      - @groups.each do |group|
        %li.group
          = link_to group_path(group.group), class: "group-link" do
            %p.group__name= group.group.name
            - if group.group.messages.last.present?
              %p.group__message= group.group.messages.last.body
  .main
    .header.clearfix
      .header__group
        .header__group__name
        .header__group__members
    %ul.messages
      %li.message
        .message__header.clearfix
          .message__header__name
          .message__header__date
        .message__body
    .footer
